<div class="container game-info-div">

  <div id="game-info-panel" class="container col-xs-12">

    <div class="container">

    </div>

    <div class="container game-info-text">

    </div>

  </div>

</div>
